body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E4CEAC;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: snow;
  padding-bottom: 10px;
  padding-top: 10px;
  color: orange;
  height: 50px;
}

.headerLinks {
  margin-right: 15px;
}

.logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.conatainerStyles {
  text-align: center;
}

.newSmokerForm form {
  margin-top: 20px;
}

input {
  margin-bottom: 15px;
  background-color: snow;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
}

@media screen and (max-width: 459px) {
  .header {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    height: 150px;
  }
  .logo {
    display: none;
  }
  .headerLinks {
    padding-bottom: 25px;
  }

}
