html {
  min-height: 100%;
  background: linear-gradient(snow, #E4CEAC) ;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 215px;
}

button {
  border-radius: 5px;
  background-color: snow;
  border: 1px solid orange;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

.welcome {
  padding: 50px;
}

.links {
  color: red;
}

.links:hover {
  cursor: pointer;
  background-color: black;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: orange;
  height: 50px;
}

.headerLinks {
  margin-right: 15px;
}

.logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.conatainerStyles {
  text-align: center;
}

.newSmokerForm form {
  margin-top: 20px;
}

.nextButton {
  position: absolute;
  right: 115px;
}

.healthStat {
  border: 2px solid orange;
  padding: 25px;
  background-color: snow;
  margin: 5px;
}

.listDisplay:after {
  content: " ";
}

.statHeader {
  transition: color .5s;

}

.statHeader:hover + .hidden {
  display: block;
  color: black;
}

.statHeader:hover {
  cursor: pointer;
  color: red;
}

.hidden {
  display: none;
  color: snow;
  /* transition: color .5s; */
}

.listDisplay:last-of-type p {
  display: block;
}

.output {
  background-color: snow;
  border: 2px solid orange;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

input {
  margin-bottom: 15px;
  background-color: snow;
  border: 2px solid orange;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
}

.shareMain {
  display: flex;
  align-items: center;
  background-color: snow;
  width: 90%;
  margin: 10px auto;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid orange;
  position: relative;
  font-size: 14px;
}

.postingPerson img {
  width: 50px;
}

.postBody {
  padding: 5px;
  min-width: 200px;
  transform: translateY(-10px);
}
.postBody  h5 {
  margin-bottom: 15px;
}

.postBody p {
  font-size: 12px;
  width: 75%;
  margin: 0 auto;
}

.postForm {
  background-color: snow;
  width: 80%;
  margin: 0 auto 15px auto;
  padding: 15px;
  border: 2px solid orange;
  display: flex;
  justify-content: space-evenly;
}

.postForm button {
  margin-left: 10px;
}

.profilePic {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 547px) {
  .header {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    height: 150px;
  }
  .logo {
    display: none;
  }
  .headerLinks {
    padding-bottom: 25px;
  }
  .list {
    display: grid;
  }
}
